@font-face {
  font-family: "Apex";
  src: local("Apex Bold"), local("Apex-Bold"), url("/src/assets/fonts/Apex/Apex-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VujahdayScript";
  src: local("VujahdayScript Regular"), local("VujahdayScript-Regular"), url("/src/assets/fonts/VujahdayScript/VujahdayScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url("/src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 1 999;
}
@font-face {
  font-family: Inter;
  src: url("/src/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
h1 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

h2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
}

h3 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h4 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h6 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  text-underline: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #F0FBF7;
}

body {
  background-color: #141A28;
}

@media (min-width: 1280px) {
  .only-mb {
    display: none !important;
  }
}

@media (max-width: 1279px) {
  .only-ds {
    display: none !important;
  }
}

.lighthouse {
  position: absolute;
  background: radial-gradient(closest-side, rgba(0, 251, 160, 0.11), rgba(0, 251, 160, 0.08) 30%, rgba(20, 26, 40, 0) 100%);
  width: 2000px;
  height: 2000px;
  z-index: -1;
}

.lighthouse-small {
  position: absolute;
  background: radial-gradient(closest-side, rgba(0, 251, 160, 0.11), rgba(0, 251, 160, 0.08) 30%, rgba(20, 26, 40, 0) 100%);
  width: 100%;
  height: 800px;
  z-index: -1;
}

.nft-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nft-button:hover {
  background-color: #00A469 !important;
}
.nft-button:active {
  background-color: #008053 !important;
}

.nft-social-link:hover {
  background-color: rgba(166, 166, 166, 0.2) !important;
}
.nft-social-link:active {
  background-color: rgba(131, 131, 131, 0.2) !important;
}

@media (max-width: 1279px) {
  .nft-social-link-mobile:hover {
    background-color: rgba(166, 166, 166, 0.2) !important;
  }
  .nft-social-link-mobile:active {
    background-color: rgba(131, 131, 131, 0.2) !important;
  }
}

.green-text {
  color: #1CC287;
}
.green-text.link:hover {
  text-decoration: underline 1px solid #1CC287;
}

@keyframes imageLoadingRound {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lazy-load-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.lazy-load-image::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #2a2f3b;
  position: absolute;
  top: 0;
  left: 0;
}
.lazy-load-image::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  aspect-ratio: 1;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/public/assets/images/svg/imageLoadingRound.svg");
  animation: imageLoadingRound 3s linear infinite;
  z-index: -1;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
